@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import './reset.css';
@import './common.css';

/*
    헤더+푸터+큰틀
*/
#header .header_wrapper{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: #fff;
    /* -webkit-transition: height .2s linear .1s,-webkit-transform .2s linear; */
    /* transition: height .2s linear .1s,-webht .2s linear .1s;
    transition: transform .2s linear,heigkit-transform .2s linear;*/
    transition: transform .2s linear,height .2s linear .1s,-webkit-transform .2s linear; 
}
.header_wrapper::before{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    content: '';
    height: 0px;
    transition: height .3s;
}
.header_wrapper.hide{
    transform: translateY(-100%);
}
.header_wrapper.header-active::before{
    height: 64px;
}
.header_wrapper.header-active{
    /* height: 160px; */
    /* transition: transform .2s linear,height .2s linear 0s,-webkit-transform .2s linear; */
}
.header_wrapper .logo{
    position: relative;
    z-index: 1;

    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    flex: none;
    height: 95px;
}
.header_wrapper .logo a{
    display: block;
    height: 31px;
}
.header_wrapper .logo a svg{
    vertical-align: top;
    height: 100%;
}

.header_wrapper .gnb{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    line-height: 1.75;
    letter-spacing: -.02em;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    flex: 1;
    height: 95px;
}
.header_wrapper .gnb .gnb_list{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    height: 95px;
}
.header_wrapper .gnb .gnb_list .gnb_item{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    max-width: 160px;
}
.header_wrapper .gnb .gnb_list .gnb_item:last-child > a{
    position: relative;
}
.header_wrapper .gnb .gnb_list .gnb_item:last-child > a::after{
    content: "BETA";
    color: rgba(35,35,36,.5);
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    position: absolute;
    top: 3px;
    left: 100%;
    margin-left: -15px;
    -webkit-transform: scale(.8);
    transform: scale(.8);
}
/* #header .gnb .gnb_list .gnb_item:hover .depth2_item:nth-child(1) a */
.header_wrapper .gnb .gnb_list .gnb_item:hover > a
{
    color: #232324;
    font-weight: 700;
}
.header_wrapper .gnb .gnb_list .gnb_item a{
    display: inline-block;
    font-weight: 400;
    padding: 0 15px;
}
.header_wrapper .gnb .gnb_list .gnb_item .depth2{
    display: flex;

    position: absolute;
    top: 95px;
    left: 0;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 64px;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity .15s linear 0s;
    transition: opacity .15s linear 0s;
}
.header_wrapper .gnb .gnb_item .depth2 .depth2_item{
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    max-width: none;
}
.header_wrapper .gnb .gnb_item .depth2 .depth2_item a{
    display: -webkit-inline-box;
    display: inline-flex;

    color: #232324;
    font-weight: 700;

    color: #d6d7da;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: -.2px;
    white-space: nowrap;
    margin: 0 15px;
    padding: 0;
    -webkit-transition: color .15s;
    transition: color .15s;
}
.header_wrapper .gnb .gnb_item .depth2 .depth2_item a.on{
    font-weight: 700;
    color: #000;
}

.header_wrapper .gnb .gnb_item .depth2.show{
    opacity: 1;
    pointer-events: auto;
    transition: .3s .1s;
}

.header_wrapper .group_toplink{
    display: flex;
}
.header_wrapper .group_toplink .recruit_area{
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-flex: 0;

    position: relative;
    z-index: 1;

    font-size: 12px;
    height: 95px;
}
.header_wrapper .group_toplink .recruit_area > a{
    white-space: nowrap;
    max-width: 160px;
    padding: 0 12px;
}
.header_wrapper .group_toplink .recruit_area > a:hover{
    font-weight: 700;
}
.header_wrapper .group_toplink .recruit_area svg{
    width: 8px;
    height: 8px;
    margin-left: 4px;
}

.header_wrapper .group_toplink .lang_area{
    display: -webkit-box;
    -webkit-box-align: center;

    position: relative;
    z-index: 1;

    color: #d6d7da;
    font-weight: 700;
}
.header_wrapper .group_toplink .lang_area button{
    font-size: 12px;
    display: inline-block;
    width: 36px;
    height: 36px;
}
.header_wrapper .group_toplink .lang_area [disabled]{
    color: #232324;
    cursor: default;
}
.header_wrapper .group_toplink .lang_area .eg{
    position: relative;
}
.header_wrapper .group_toplink .lang_area .eg::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 10px;
    margin-top: -5px;
    background-color: #d6d7da;
}


#footer{
    color: #37373a;
    letter-spacing: -.02em;
    padding-top: 60px;
    padding-right: 24px;
    padding-bottom: 85px;
    padding-left: 24px;
    background-color: #f3f4f5;
}
#footer .footer_container{
    position: relative;
    max-width: 1186px;
    margin: 0 auto;
    padding: 0 7px;
}
#footer .footer_container .footer_gnb .gnb_list{
    display: flex;
    justify-content: space-between;
}
#footer .footer_container .footer_gnb .gnb_list .gnb_item{
    -webkit-box-flex: 1;
    margin-top: 8px;
    padding-right: 8px;
    line-height: 1.4;
    flex: 1;
}
#footer .footer_container .footer_gnb .gnb_list .gnb_item > a{
    line-height: 1.75;
    font-weight: 700;
}
#footer .footer_container .footer_gnb .gnb_list .depth2{
    color: #6c6d6f;
    font-size: 14px;
    line-height: 1.7142857143;
}
#footer .footer_container .footer_gnb .gnb_list .depth2 .depth2_item{
    margin-top: 8px;
    padding-right: 8px;
    line-height: 1.4;
}
#footer .footer_container .footer_gnb .gnb_list .gnb_item:nth-child(5) a{
    display: block;
    margin-bottom: 8px;
}
#footer .footer_container .sitemap_list{
    color: #6c6d6f;
    font-size: 14px;
    line-height: 1.7142857143;
}
#footer .footer_container .sitemap_list .sitemap_item{
    margin-top: 8px;
    padding-right: 8px;
    line-height: 1.4;
}
#footer .footer_container .sitemap_list .sitemap_item .fb{
    font-weight: 700;
}
#footer .footer_container .sitemap_list .sitemap_item .consumer{
    display: inline-flex;
    -webkit-box-align: start;
    align-items: flex-start;
}
#footer .footer_container .sitemap_list .sitemap_item .f-ic{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: -3px 0 0 0;
    background-size: cover;
    background-image: url("../images/f-ic.png");
}

#footer .footer_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer .footer_bottom .address_area{
    margin-top: 28px;
    margin-right: 345px;
}
#footer .footer_bottom .address_area address{
    font-weight: 700;
    line-height: 1.75;
    margin-bottom: 8px;
}
#footer .footer_bottom .address_area address strong{
    font-weight: 700;
    line-height: 1.75;
    margin-bottom: 8px;
}
#footer .footer_bottom .address_area address p{
    margin-top: 8px;
}
#footer .footer_bottom .address_area address p span{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7142857143;
}
#footer .footer_bottom .address_area address p span:nth-child(1){
    position: relative;
    margin-right: 4px;
}
#footer .footer_bottom .address_area address p span:nth-child(2){
    margin-left: 6px;
}
#footer .footer_bottom .address_area address p span:nth-child(1)::after{
    content: '|';
    position: absolute;
    right: -11px;
    top: -3px;
}

#footer .family_area{
    position: absolute;
    bottom: 0;
    right: 7px;
    width: 327px;
}
#footer .family_area .family_btn{
    font-size: 14px;
    text-align: left;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    min-height: 50px;
    padding: 13px 16px;
    box-sizing: border-box;
    border: 1px solid #a6a7a9;
    border-radius: 8px;
    background: #fff;
}
#footer .family_area .family_btn .family_ic{
    -webkit-box-flex: 0;
    flex: none;
    margin-left: 16px;
}
#footer .family_area .family_btn .family_ic svg{
    transition: transform .3s,
     -webkit-transform .3s;
}

#footer .family_area:has(.show) .family_ic svg{
    transform: rotate(-180deg)
}
/* #footer .family_area .family_btn.active .family_ic svg{
    transform: rotate(-180deg)
} */

#footer .family_area .family_list{
    font-size: 14px;
    position: absolute;
    bottom: 100%;
    left: 0;
    overflow: auto;
    width: 100%;
    max-height: 215px;
    margin-bottom: 4px;
    box-sizing: border-box;
    box-shadow: 2px 4px 10px rgba(0,0,0,.08);
    border: 1px solid #a6a7a9;
    border-radius: 8px;
    background: #fff;
    transform: translateY(5%);

    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
#footer .family_area .family_list.show{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
#footer .family_area .family_list .family_item .link_famaily{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 50px;
    margin: 0 16px;
}
#footer .family_area .family_list .family_item:not(:first-child) a{
    border-top: 1px solid #f3f4f5;
}
#footer .family_area .family_list .family_item .link_famaily:hover{
    margin: 0;
    padding: 0 16px;
    background-color: #f3f4f5;
}

@media(max-width: 980px){
    #header{
        height: 95px;
    }
}